{% extends "blog/base.html" %}

{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
            <!-- within our template tags there are different filters which we can use to change our data a little bit
            for 'dates' there is a 'date filter' you can use the vertical bar character and then the filter...
            that means>> | date:" how you want to format the date... refer documentation django" -->
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
<!-- templating engine similar to jinja: using curly braces to use python in html -->